<web-app>
<listener>
	<listener-class>in.lifelink.dbutil.DBListener</listener-class>
</listener>
<context-param>
<param-name>url</param-name>
<param-value>jdbc:postgresql://localhost:5432/lifelink</param-value>
</context-param>
<context-param>
<param-name>username</param-name>
<param-value>postgres</param-value>
</context-param>
<context-param>
<param-name>password</param-name>
<param-value>Sahil8770@</param-value>
</context-param>
</web-app>